/vendor
.idea
/node_modules
/assets/components
composer.lock
/public/css
/public/files
/public/js
/public/fonts
/public/temp
/.phalcon/*
/junk
.env
*.ini
/.phpunit.cache
.junie

# Avoid accidentally tracking stray emitted assets in wrong location
/fonts
