networks:
    phalcons:
        driver: bridge
volumes:
    phalcons-mysql:
        driver: local
    phalcons-redis:
        driver: local
    ollama-data:
        driver: local
services:
    laravel.test:
        build:
            context: ./docker/${PHP_VERSION:-8.1}
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
                PHALCON_VERSION: '${PHALCON_VERSION:-5.9.2}'
        image: phalcons-${PHP_VERSION:-8.1}/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        volumes:
            - '.:/var/www/html'
        networks:
            - phalcons
        depends_on:
            - mysql
            - redis
            - mailhog
    mysql:
        image: 'mysql:8.4'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'phalcons-mysql:/var/lib/mysql'
        networks:
            - phalcons
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--password=${DB_PASSWORD}"]
            interval: 5s
            timeout: 5s
            retries: 5
    redis:
        image: 'redis:7.4-alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'phalcons-redis:/data'
        networks:
            - phalcons
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            retries: 3
            timeout: 5s
    mailhog:
        image: 'mailhog/mailhog:latest'
        ports:
            - '${FORWARD_MAILHOG_PORT:-1025}:1025'
            - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
        networks:
            - phalcons