/* Tailwind CSS v4 imports */
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@plugin "daisyui";

@source "../js/**/*.js";
@source "../../IamLab/views/**/*.phtml";
@source "../../public/**/*.html";

