/* Tailwind CSS v4 imports */
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "filepond/dist/filepond.min.css";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

@plugin "daisyui";

@source "../js/**/*.js";
@source "../../IamLab/views/**/*.phtml";
@source "../../public/**/*.html";

